<html>
   <head>
      <title>HTTP Catz</title>
   </head>
   <body>
      <img src="/logo.png">
      <hr>
         <p>
            <i><%= cat.submitter %></i> submitted:<br>
            <img src="<%= cat.imageURL %>">
         </p>
         <p>This cat's ID is: <code><%= cat._id %></code></p>
         <hr>
   </body>
</html>
